.chats {
  background-color: #282630;
  color: white;
  max-width: 300px;
  padding: 12px;
  transition: width 0.3s;
  flex: 1 1 auto;

  .item {
    transition: transform 0.3s;
    transform: translateX(0);

    &Hidden {
      transform: translateX(-300px);
      transition: transform 0.3s;
    }
  }

  &Narrow {
    transition: width 0.3s;
    width: 80px;
  }

  &Main {
    margin-top: 20px;
  }

  &Chat {
    margin-top: 2px;
    height: 60px;
    color: white !important;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
      background: rgb(79, 79, 79) !important;
    }
  }

  .actions {
    display: flex;
    gap: 12px;

    &Main {
      display: flex;
      gap: 12px;
      overflow: hidden;
      justify-content: space-between;
      width: 100%;
    }

    &Toggle {
      color: white !important;
      border: none;
      scale: 1.2;

      &:hover {
        background: rgb(79, 79, 79) !important;
      }

      flex-shrink: 0;
    }
  }
}

@media (max-width: 600px) {
  .chats {
    width: auto;
    height: 44px;
    // TODO
    overflow: hidden;
    max-width: 100%;

    .actions {
      &Toggle {
        display: none;
      }
    }
  }
}
